/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    box-sizing: border-box;
	background-color: beige;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */




section{
	/* display: grid;
	grid-template-columns: 1fr; */
	justify-items: center;

    font-size: 2rem;
    
	font-family: "Montserrat";
	transition: all 0.1s ease-in-out;
	
}

nav{
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	width: 100%;

	padding: 40px 0 40px 0;
	gap: 20px;

	background-color: #35352c5e;

}

h1{
	font-weight: 700;
}

nav button{
	font-size: 1.5rem;
	font-weight: 700;

	padding: 5px 50px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #3b3b35;
	border: hidden;

	background-color: white;
}
nav button:hover{
	background-color: #dce99c;
}
.bookGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 400px;
    column-gap: 20px;
	row-gap: 40px;
	width: 50vw;	
	/* max-width: 1500px; */
	padding: 10px;

	
}

.card{
	align-items: center;
	justify-items: center;
	position: relative;
	
	border-radius: 10px;

	padding-top: 40px;
	cursor: pointer;

	width: 250px;

	user-select: none;
}

.card:hover{
	background-color: #dce99c;
}

.card img{
	object-fit:cover;
	width: 100%;
	height: 75%;
	
	border-radius: 10px;
	box-shadow: 2px 2px 5px #3b3b35;
}

.card > div {
	text-align: center;
	text-transform: capitalize;
	margin-top: 10px;

	font-size: 1.5rem;
	font-weight: 500;

}
/* .card div:nth-child(2){
	


} */

.cardCross{
	position : absolute;
	top : 0; 
	left : 7px;
	color : #8a8585;
	visibility: hidden;

	
	border-radius: 50%;
}



.readStatus{
	position : absolute;
	top : 2rem; 
	left : 7px;
	visibility: hidden;
	border-radius: 50%;
	align-items: center;
	justify-items: center;


}
/* .bookGrid .card .readStatus:hover{
	
	animation: blink 0.7s ease-in-out 2 ;
}
@keyframes blink {
	0% {color: green;}
	100% {color: red;}
} */
.newBookForm{

	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;

	visibility:hidden;

	position: absolute; 
	left: 50%;
    transform: translate(-50%, -50%);

	top: 50%;

	background-color: #363629;

	padding: 100px 30px;

	font-family: "Montserrat";
	font-size: 1rem;
	font-weight: 500;
	color: white;

	border: 11px double white;
	border-radius: 10px;

	z-index: 2;

	width: 350px;
	/* height: 500px; */
}

.newBookForm label{
	font-size: 1.5rem;
}

.newBookForm input{
	height: 1.7rem;
	border-radius: 10px;
	width: 50%;

	font-size: 1.5rem;
	text-indent: 1rem;

	margin-bottom: 40px;
}

.newBookForm button{
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 10px;
	padding: 5px 40px;
	margin-bottom: 10px;
}